/* body {
  background-color: aqua
}
 */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  background-color: darkblue;
}

.item-1 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: lightcoral;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: lightblue;
  z-index: 10;
}

.item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: lightgreen;
}

.item-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: lightseagreen;
}

