body{
  background-color: aqua;
}

.container {
  display: grid;
  background-color: lightcoral;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.item {
  border: 2px solid darkblue;
}