* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns:repeat(3, 1fr);
  
  grid-auto-flow: row;/* Default */
  grid-auto-flow: column;

  gap: 24px; /* agrega guecos */
  
  direction: ltr; /* de izq a der */
  direction: rtl; /* de der a izq */

  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: lightblue;
}

.item {
  text-align: center;
  color: white;
  background-color: darkblue;
}